.video {
  display: flex;
  align-items: center;
  box-shadow: 8px 8px 13px -12px #000000;
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.video:hover {
  transform: scale(1.05);
  /* z-index: 100; */
}

.thumbnail {
  width: 40%;
}

.metadata {
  padding: 0.2em;
  margin-left: 0.2rem;
}

.title,
.channel {
  margin: 0;
  font-size: 1rem;
}

.channel {
  font-size: 0.8rem;
}
